.affprodimp-image-gallery{
	display: inline-block;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	background-color: #fdfdfd;
	vertical-align:top;
}

.affprodimp-product-categories {
	min-height: 42px;
	max-height: 200px;
	width: 50%;
	overflow: auto;
	padding: 0 0.9em;
	background-color: #fff;
}

.affprodimp-product-categories ul {
	list-style: none;
	padding: 0;
	margin: 14px 0;
}

.affprodimp-product-categories ul ul {
	margin: 10px 0 0 25px;
}